h1{
    color: #bae8e8;
}
h2{
    color: #7f5af0;
}
.p{
color: #e53170;
}
.strong{
    color: #2cb67d;
}
div p em{
    color: #94a1b2;
}
#id{
    color: #faae2b;
}
#id2{
    color: #fa5246;
}
#id3{
    color: #ffa8ba;
}